/* Image */

.image {
    &.acm {
        display: block;
        margin: 1em;
        margin-bottom: 0.5em;
        text-align: center;
        padding:0;
        img {
            width: 160px;
            // height: 32.5px;
        }
    }

    &.centered {
        display: block;
        margin: 0 0 2em 0;

        img {
            margin: 0 auto;
            width: auto;
        }
    }
}