/* Table */

table {
    width: 100%;
    text-align: left;

    tbody {
        tr {
            &:nth-child(2n+2) {
                background: #f4f4f4;
            }
        }
    }

    td {
        // @include vendor('display', 'flex');
        // @include vendor('justify-content', 'center');
        font-size: 0.8em;;
        padding: 0.5em 1em 0.5em 1em;
    }

    th {
        text-align: left;
        padding: 0.5em 1em 0.5em 1em;
        color: #fff;
        background: #222729 url('images/overlay.png');
    }

    thead {
        background: #444;
        color: #fff;
    }
    header {
        background: #444;
        color: #fff;
    }

    tfoot {
        background: #eee;
    }
}